ul {
    padding: 0;
    margin: 0;
}

.project-list-div {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

.show-more {
    color: black;
    font-weight: 560;

}
