.project-homepage-div {
    align-items: center;
    gap: 1rem; 
    display: flex;
    flex-direction: column;

    line-height: 1.5;

    padding-left: 5rem;
    padding-right:5rem;
    padding-bottom: 5rem;

    text-align: left;
}

.project-homepage-div > div {
    border-bottom: 1px solid #ccc; /* Separator line */
}

.project-homepage-div > div:last-child {
    border-bottom: none; /* Removes line from the last element */
}

.project-container-div {
    width: 100%;
}

h3.project-title {
    padding-bottom: 0.1rem;
    margin: 0;
}

.project-top-info {
    margin-bottom: 0.5rem;
}

.top-text {
    padding-bottom: 2rem;
}

.learn-more-link {
    color: black;
}

.project-links {
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}