---
import * as experience from '@content/experience.md';
import "@styles/main.css";

---


<div class='experience-div main-sections' id="page-2">

    <a href="#page-1" class="switch-page page-up">↑</a>

    <experience.Content />

    <a href="#page-3" class="switch-page page-down">↓</a>

</div>