---
import * as experience from '@content/experience.md';
import "@styles/main.css";

const base = import.meta.env.BASE_URL;

---


<div class='experience-div main-sections' id="page-2">

    <a href="#page-1" class="switch-page page-up">↑</a>

    <experience.Content />

    <a class="centered show-more" href=`${base}/experience`>Learn More</a>

    <a href="#page-3" class="switch-page page-down">↓</a>

</div>


<style>

.centered {
    align-items: center;
    text-align: center;
}


</style>